a {
  text-decoration: none;
  color: #7ACAD1;
}
a:hover{
  text-decoration: underline;
}
a:visited{
  text-decoration: none;
  color: #7ACAD1;
}
a:active{
  color: rgb(90, 90, 90);
}

body, html {
  height: 100vh;
  margin: 0; 
}

main{
  margin-top: 4em;
  margin-left: 6em;
  margin-right: 6em;
  margin-bottom: 3.5em;
}

button{
  color: #F6F6F6;
  background-color: #7ACAD1;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-size: .9em;
  outline: none;
  border: none;
  padding: .9em;
  border-radius: 2px;
}
button:hover{
  color: #7ACAD1;
  background-color: white;
  border: .1rem solid #7ACAD1;
  cursor: pointer;
}
button span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

h1{
  font-size: 1.5em;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  color: #2B2B2B;
  text-align: center;
}

h2{
  font-size: 1.5em;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  color: #2B2B2B;
}

input[type=text]{
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #2B2B2B;
  background: transparent;
  background-color: none;
  outline: none;
  border-style: hidden hidden solid hidden;
  border-color: #7ACAD1;
  border-width: .1em;
  margin-top: .3em;
  margin-bottom: 1em;
}

p{
  font-size: 1em;
  line-height: 1.6em;
  color: #2B2B2B;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

.container{
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}

.child{
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  position: relative;
}

.checkboxes{
  background-color: none;
}
.checkboxes input{
  cursor: pointer;
}

.dropdown{
  float:right;
  overflow: hidden;
}
.dropdown .dropbtn{
  font-size: inherit;  
  border: none;
  outline: none;
  color: #A0A0A0;
  padding: 1em 1.2em;
  background-color: inherit;
  font-family: inherit;
  margin:0;
}
.dropcnt{
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 1em;
  z-index: 1;
}
.dropcnt a{
  float: none;
  text-decoration: none;
  padding: 1em 1.2em;
  display: block;
  text-align: left;
}
.dropdown:hover .dropcnt{
  display: block;
}
.dropdown:hover .dropbtn{
  color: rgb(90, 90, 90);
  text-decoration: none;
}
.dropcnt a:hover{
  color: rgb(90, 90, 90);
  display: block;
}

.navbar{
  font-family: 'Courier New','Helvetica Neue', sans-serif;
  font-size: 1.2em;
  overflow: hidden;
  background-color: white;
}
.navbar a{
  float: right;
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 1em 1.2em;
  text-decoration: none;
  text-decoration: none;
  color: #A0A0A0;
}
.navbar a:hover{
  color: rgb(90, 90, 90);
}
.navbar .icon{
  display: none;
}
.navbar a:hover, .dropdown:hover .dropbtn{
  color: rgb(90, 90, 90);
}
.navbar input[type=text]{
  float: left;
  font-family: "Courier New";
  font-size: .9em;
  color: #A0A0A0;
  background: transparent;
  background-color: none;
  outline: none;
  border-style: hidden hidden solid hidden;
  border-color: #7ACAD1;
  border-width: 0.1em;
  margin: 1em 1.2em;
}

.page1{
  height: 100%;
  font-size: 2.8em;
  text-align: center, justify;
}

.page2{
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.page3{
  height: 100%;
  text-align: center;
}
.page3 p{
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1em;
  margin-left: 23em;
  margin-right: 23em;
}

.un-main{
  margin-right: 0em;
}

#page1{
  font-family: 'Courier New','Helvetica Neue', sans-serif;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#page1 p{
  color: #808080;
  font-family: 'Courier New','Helvetica Neue', sans-serif;
}

#page2{
  font-size: 4em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#page2 p{
  color: #F6F6F6;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

::selection{
  background: #7ACAD1;
  color: white;
}

@media screen and (max-width: 900px){
  h1{font-size: 1.3em;}

  h2{font-size: 1.3em;}

  main{
    margin-top: 3.5em;
    margin-left: 3.5em;
    margin-right: 3.5em;
    margin-bottom: 2em;
  }

  .page1{
    font-size: 1.8em;
  }

  .page3 p{
    margin-left: 9em;
    margin-right: 9em;
  }

  .navbar a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .navbar a.icon{
    float: right;
    display: block;
  }
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon{
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a{
    float: none;
    display: block;
    text-align: left;
  }

  .navbar.responsive .dropdown {float: none;}
  .navbar.responsive .dropcnt {position: relative;}
  .navbar.responsive .dropdown .dropbtn{
    display: block;
    width: 100%;
    text-align: left;
  }
}