body, html {
  height: 100vh;
  margin: 0;
  background-color: #F6F6F6;
  overflow: hidden;
}

h1{
  font-size: 1.5em;
  font-family: "Share Tech Mono", Arial, Helvetica, sans-serif;
  text-align: center;
}

h2{
  font-size: 1.5em;
  font-family: "Share Tech Mono", Arial, Helvetica, sans-serif;
}

p{
  font-size: 1em;
  line-height: 1.6em;
}

.container{
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
}

.child{
  height: 100vh;
  scroll-snap-align: center;
  position: relative;
}

.page1{
  background-image: url("https://convertingcolors.com/plain-F6F6F6.svg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page2{
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.page2-box{
  font-family: "Share Tech Mono", Arial, Helvetica, sans-serif;
  color: #F6F6F6;
  font-size: 4em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.page3{
  font-family: "Share Tech Mono", Arial, Helvetica, sans-serif;
  color: #A0A0A0;
}

.calendar-main{
  margin-top: 5.5em;
  margin-left: 5em;
}

.dropbtn{
  background-color: #F6F6F6;
  color: #A0A0A0;
  font-family: 'Courier New','Helvetica Neue', sans-serif;
  font-size: 1em;
  border: none;
  margin-right: 1.4em;
}

.dropdown{
  display: inline-block;
}

.dropcnt{
  display: none;
  position: absolute; /*THING*/
  background-color: #F6F6F6;
  min-width: 1em;
}

.dropcnt a{
  margin-top:1.5em;
  margin-bottom: 0em;
  padding-left: .5em;
  padding-right: 0em;
  display: block;
}

.dropdown:hover .dropcnt{
  display: block;
}

.dropdown:hover .dropbtn{
  color: rgb(90, 90, 90);
  text-decoration: none;
}

.navbar{
  font-family: 'Courier New','Helvetica Neue', sans-serif;
  position: absolute;
  display: flex;
  text-align: center;
  top: .7em;
  right: 1em;
  font-size: 1.2em;
}

.navbar-link{
  text-decoration: none;
  margin-right: 2em;
  color: #A0A0A0;
}

a.navbar-link:hover{
  color: rgb(90, 90, 90);
}

.search{
  font-family: "Courier New";
  font-size: 1em;
  color: #A0A0A0;
  background: transparent;
  background-color: none;
  outline: none;
  border-style: hidden hidden solid hidden;
  border-color: #7ACAD1;
  border-width: 0.1em;
}

#calendar{
  overflow: scroll;
}

#header-content{
  font-family: 'Courier New','Helvetica Neue', sans-serif;
  text-align: justify;
  color: #A0A0A0;
  position: relative;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 1.2em;
}

@media screen and (max-width: 600px){
  h1{
    font-size: 1.3em;
  }

  h2{
    font-size: 1.3em;
  }

  .calendar-main{
    margin-left: 1em;
    margin-top: 3.5em;
  }

  .dropcnt a{
    margin: 0px;
    padding-top: .7em;
    padding-bottom: .2em;
    background-color: #F6F6F6;
  }

  .navbar {
    overflow: hidden;
    background-color: #F6F6F6;
    float: left;
    display: block;
    text-align: right;
    width: 100%;
    margin: 0px;
  }
}
