a {
  text-decoration: none;
  color: #5CC0C9;
}
a:hover{
  text-decoration: underline;
}
a:visited{
  text-decoration: none;
  color: #7ACAD1;
}
a:active{
  color: #5A5A5A;
}

body, html {
  height: 100vh;
  margin: 0;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
}

main{
  margin-top: 4em;
  margin-left: 6em;
  margin-right: 6em;
  margin-bottom: 3.5em;
}

button{
  color: #F6F6F6;
  background-color: #7ACAD1;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-size: .9em;
  outline: none;
  border: none;
  padding: .9em;
  border-radius: 2px;
}
button:hover{
  color: #7ACAD1;
  background-color: white;
  border: .1rem solid #7ACAD1;
  cursor: pointer;
}
button span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

h1{
  font-size: 1.5em;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  color: #2B2B2B;
  text-align: center;
}

h2{
  font-size: 1.5em;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  color: #2B2B2B;
}
h3{
  font-size: 1em;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  color: #3d3d3d;
}
h4{
  font-size: 1em;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  color: #757171;
}
input[type=text]{
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #2B2B2B;
  background: transparent;
  background-color: none;
  outline: none;
  border-style: hidden hidden solid hidden;
  border-color: #7ACAD1;
  border-width: .1em;
  margin-top: .3em;
  margin-bottom: 1em;
}

p{
  font-size: 1em;
  line-height: 1.6em;
  color: #2B2B2B;
  font-weight: 300;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

.checkboxes{
  background-color: none;
}
.checkboxes input{
  cursor: pointer;
}

.dropdown{
  float:right;
  overflow: hidden;
}
.dropdown .dropbtn{
  font-size: inherit;  
  font-weight: inherit;
  border: none;
  outline: none;
  color: #808080;
  font-size: 1.25rem;
  padding: 1em 1.2em;
  background-color: inherit;
  font-family: inherit;
  margin:0;
}
.dropcnt{
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 1em;
  z-index: 1;
}
.dropcnt a{
  float: none;
  text-decoration: none;
  padding: 1em 1.2em;
  display: block;
  text-align: left;
}
.dropdown:hover .dropcnt{
  display: block;
}
.dropdown:hover .dropbtn{
  color: #5A5A5A;
  text-decoration: none;
}
.dropcnt a:hover{
  color: #5A5A5A;
  display: block;
}

.navbar{
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  overflow: hidden;
  background-color: white;
}
.navbar a{
  float: right;
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 1em 1.2em;
  text-decoration: none;
  text-decoration: none;
  color: #808080;
}
.navbar a:hover{
  color: #5A5A5A;
}
.navbar .icon{
  display: none;
}
.navbar a:hover, .dropdown:hover .dropbtn{
  color: #5A5A5A;
}
.navbar input[type=text]{
  float: left;
  font-family: inherit;
  font-size: .95em;
  color: #808080;
  background: transparent;
  background-color: none;
  outline: none;
  border-style: hidden hidden solid hidden;
  border-color: #7ACAD1;
  border-width: 0.1em;
  margin: 1em 1.2em;
}

.page1{
  height: 100vh;
  font-size: 3em;
  text-align: center, justify;
  font-family: 'Courier New', serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page1 p{
  color: #808080;
  font-family: 'Courier New','Helvetica Neue', sans-serif;
}

.page2{
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  background-color:#7ACAD1;
  font-size: 4em;
  align-items: center;
}
.page2 p{
  color: #F6F6F6;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding-right: 1em;
}

.page3{
  height: 100vh;
  text-align: center;
  background-color:#FFFFFF;
}
.page3 p{
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1em;
  margin-left: 23em;
  margin-right: 23em;
}

.un-main{
  margin-right: 0em;
  margin: 0em;
}
.semicolon{
  color:#7ACAD1;
  font-size: 1.1em;
}

::selection{
  background: #5CC0C9;
  color: white;
}
